@import '../variables';

.layout--blank-page {
    width: 100%;
    height: 100%;
    background: $BACKGROUND_COLOR;
    min-height: 100vh;
    color: $defaultTextColor;

    .toolbar {
        padding: 15px;
        width: 100%;
        line-height: 50px;

        .toolbar--left {
        }

        .toolbar--right {
            text-align: right;
            & > * {
                display: inline-block;
                margin-left: 15px;
            }
        }

        .toolbar__avatar {
            img {
                border-radius: 1000px;
            }
        }
    }
}

.layout {
}
