@import '../variables';

.component-col {
    /*display: flex;
  flex-direction: column;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;*/
    display: block;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: #{$COMPONENT_MARGIN_SINGLE / 2};
    padding-left: #{$COMPONENT_MARGIN_SINGLE / 2};

    @each $name, $size in $grid-breakpoints {
        @for $i from 1 through 12 {
            @media only screen and (min-width: $size) {
                &.component-col--#{$name}-#{$i} {
                    -ms-flex: 0 0 #{$i / 12 * 100%};
                    flex: 0 0 #{$i / 12 * 100%};
                    max-width: #{$i / 12 * 100%};
                }
            }
        }
    }

    & > * {
        flex: 1;
    }
}
