@import '../variables';

.scores {
    .pagination {
        margin-top: 15px;
    }
    .filters {
        margin-bottom: 15px;
        .filter {
            & > span:nth-child(1) {
                height: 31px;
                line-height: 31px;
                min-width: 150px;
                display: inline-block;
            }
            & > *:not(span:nth-child(1)) {
                margin-right: 5px;
            }
        }
    }
    .summary {
        margin-top: 15px;
    }
}
